<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MueblesStgo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-sm">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
        </thead>
        <tbody>
        <tr  class="input-group">
            <a class="btn btn-danger" href="/mostrar_reporte" role="button">Mostrar Reporte</a>
            <a class="btn btn-primary" href="/importar" role="button">Importar marcas</a>
            <a class="btn btn-danger" href="/calcular_planilla" role="button">Calcular Planilla</a>
            <a class="btn btn-primaryr" href="/ingresar_Justificativos" role="button">Ingresar justificativo</a>
            <a class="btn btn-danger" href="/ingresar_autorizaciones_horas_extras" role="button">Ingresar Autorizacion Horas Extras</a>
        <tr th:each="empleado:${empleados}">
            <td th:text="${empleado.id}"></td>
            <td th:text="${empleado.rut}"></td>
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.categoria}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>